.common__section {
  background: linear-gradient(rgba(119, 122, 84, 0.6), rgba(156, 112, 31, 0.6)),
    url("../assets/all-images/plane-img/seneca03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
